<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    @await RenderSectionAsync("Styles", true)
</head>
<body>

<div class="container">
    @await RenderSectionAsync("Header", false)
            
    @await RenderSectionAsync("Sidebar", false)
    
    @RenderBody()

    @await RenderSectionAsync("Footer", false)
</div>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>