@{
    ViewData["Title"] = "DES-Evaluacion-Frontend";
}

<div class="border-left header">
    <h3 class="header-title">Analisis casos COVID</h3>
    <p class="header-sub-title">Lorem ipsum dolor sit amet.</p>
</div>

<div id="map"></div>