@model List<Des_evaluacion_frontend.Models.CountryInformation>

@{
    ViewData["Title"] = "DES-Evaluacion-Frontend";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/site.css"/>
}

@section Header
{
    <header class="header">
        <div class="header-content">
            <h3 class="header-title">An&aacutelisis casos COVID-19 Centroamerica</h3>
            <p class="header-sub-title">Estado pandemia</p>
        </div>
    </header>
}

@section Sidebar
{
    <aside class="sidebar">
        @foreach(var countryInformation in @Model)
        {
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">@countryInformation.Country</h4>
                </div>
                
                <div class="card-body">
                    <img src="~/img/ICN_Poblacion.svg" alt="img"/>
                    <img src="~/img/ICN_Edad_Media.svg" alt="img"/>
                    <img src="~/img/ICN_EXpectativa_Vida.svg" alt="img"/>
                    <img src="~/img/ICN_Poblacion_ – 3.svg" alt="img"/>
                </div>
                
                <div class="card-footer">
                    @for (int j = 0; j < 4; ++j)
                    {
                        <div>
                            <h5 class="card-footer-title">9898</h5>
                            <p class="card-footer-text">Millones</p>
                        </div>
                    }
                </div>
                
            </div>
        }
    </aside>
}

<div class="content-map">
    <div id="map"></div>
</div>

@section Footer
{
    <footer class="footer">
        <div id="highchart-bar" class=""></div>
        <div id="highchart-line" class=""></div>
    </footer>
}

@section Scripts
{
    <script src="~/js/site.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8-egV-aGJtrHy8p8KE8wCB5_EzmuGeX4&callback=initMap"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
}
