.modal {
    display: grid;
    grid-template-columns: 3fr 40px repeat(3, 1fr);
    grid-template-rows: 100%;
    grid-template-areas: 
        "header header header header"
        "content content content content"
    ;
}

.modal-header {
    grid-area: header;
    border-left: 5px solid var(--sky-blue);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    grid-template-areas: 
        "modal-header-country modal-img-vaccine modal-header-vaccine modal-header-percentage"
    ;
    grid-column-gap: 10px;
}

.modal-img {
    width: 50px;
    height: 50px;
}

.modal-container-img {
    grid-area: modal-img-vaccine;
}

.modal-header-country {
    grid-area: modal-header-country;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header-vaccine {
    grid-area: modal-header-vaccine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header-percentage {
    grid-area: modal-header-percentage;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-multiple-lines-content {
    padding: 0;
    margin: 0;
}

.modal-multiple-lines-content > h3 {
    line-height: 0;
}

