@import 'card.css';

.sidebar {
    background: var(--dark-gray);
    grid-area: sidebar;
    overflow-y: auto;
    padding: 0 10px 10px 10px;    
}

.sidebar::-webkit-scrollbar {
    width: 10px;
    height: 85%;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 4px;
}
