@import 'root.css';
@import 'components/header.css';
@import 'components/sidebar.css';
@import 'components/map.css';
@import 'components/footer.css';
@import 'components/tooltip.css';

body {
  margin: 30px auto;
  width: 90vw;
  height: 100vh;
  font-family: Tahoma, sans-serif;
  overflow-y: hidden;
}

.container {
  display: grid;
  grid-template-rows: 40px 300px 220px;
  grid-template-columns: 240px repeat(3, 1fr);
  grid-template-areas: 
    "header header header header"
    "sidebar content-map content-map content-map"
    "footer footer footer footer"
  ;
  grid-gap: 10px;
}